.input-group{
	margin-bottom: 50px;
}
input{
	border: 2px solid black;
}

.button-group{
	margin-left: 85px; 
}
button{
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 8px;
	border: 2px solid black;
}

.Info{
	margin-left: 35px;
}
